/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

@media (max-width: 576px) { 
    .round {
        width: 60px;
    }

    .equipe .scoreSet {
        width: 30%;
    }

    .equipe .scoreSet.droite {
        right: 70%;
    }

    .round .contenu h1 {
        font-size: 2rem;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
 }

 @media (min-width: 768px) { 
    .body-scores {
        width: 80%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .body-scores {
        width: 700px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .temps-mort .nav {
        width: 50%;
    }
 }