
/* CSS App scores */

/* jaune wolverines
background-color: rgb(255, 241, 43);
*/

/* --------------------  body --------------- */
.body-scores {
  background-color:rgb(255, 255, 255);
  color: white;
  margin: 0 auto;
  padding-top: 30px;
}

.body-scores .row {
  margin: 0;
  padding-top: 6px;
}


.body-scores h1 {
  font-size: 2rem;
}

/* ---------------- appli ------------------- */
.appli {
  border: 2px solid black;
  box-shadow: 2px 2px 3px grey;
  background-image: url("images/arriere_plan.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --------------- header --------------------- */
.header {
  padding: 10px 0;
  background-color: white;
  text-align: center;
}

.header .btn{
  background-color: white;
  color:black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 0;
  box-shadow: 0;
  height: 50px;
}


.header .btn_inverser {
  background-image: url("images/btn_inverser.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  background-color: white;
  width: 100px;
}


/* --------------------------- main_content ---------------- */
.main_content {
  
  background: #222226;
  background-color: rgba(22,21,20,0.7); 
}



.round {
	position: absolute;
	top: 110px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.5);
	border: 2px solid white;
	font-size: 20px;
	font-weight: bold;
	color: rgb(255, 241, 43);
	width: 94px;
	height: 134px;
	vertical-align: initial;
	z-index: 1000;
}

.numeroRound {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: white;
}

section.scores{
  padding-top: 10px;
  height: 1000px;
}

/****** ------------- scores ---------------- */

.scores {
  position: relative;
}

.scores-panneau {
  border: 1px solid white; 
}

.scores-panneau .container {
  margin-bottom: 15px;
}

.equipe, .nom, .scoreSet {
  transition: all linear .5s;
}

.equipe {
  height: 60px;
  width: 84%;
}

.equipe.droite {
  margin-left: 55px;
}




.equipe input{
  text-align: center;  
  height: 60px;
  border-radius: 0;
  border: 2px solid black;
}

.equipe .nom {
  width: 70%;
  position: relative;
  left: 0;
}

.equipe .nom.gauche {
  left: -73px;
}

.equipe .nom.droite {
  left: 73px;
}

.equipe .scoreSet {
  width: 27%;
  position: relative;
  left: 0;
}

.scoreSet.droite {
  left: 73%;
}

.scoreSet.gauche {
  left: -73%;
}

.temps-mort div {
  display: inline-block;
  width: 50%;
  padding: 3px;
}

.temps-mort button {
  opacity: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  font-size: 12px;
  border-radius: 0;
  background-color:  rgb(255, 241, 43);
}

.equipe-gauche, .equipe-droite {
  position: absolute;
  width: 50%;
  left: 0;
}


/* --------------- score ----------------- */
.score {
  height: 70px;
  width: 50%;
  text-align: center;
}

.row_btn-score {  
    padding: 10px 0px; 
    width: 84%;
    margin-left: 0;
    transition: all linear 0.5s;
}

.row_btn-score.droite {
  margin-left: 50px;
}

.score .btn-score{
  width: 95%;
  height: 100%;
  border-radius: 0;
  border: 2px solid white;
  background-color: transparent;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.score .btn_plus {
  background-image: url("images/btn_plus.png");  
}

.score .btn_moins {
  background-image: url("images/btn_moins.png");  
}

/* ------------------------ unScore ------------------ */
.unScore {
  font-family: 'Teko', sans-serif;
  text-shadow: 3px 3px 3px rgb(140, 151, 160);
  margin: 0 auto;
  width: 98%;
  height: 200px;
  font-size: 150px;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 0;
  border: none;
}


.droite{
  left: 50%;
}

.anime {
  transition: all 1s cubic-bezier(.64,.2,.3,.94);
}

.nomEquipe {
  padding: 5px;
  border: 1px solid white;
}


.set {
  color: white;
  width: 100%;
  border-radius: 0;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}


/* CSS des affichages entre 2 sets */

.askUser{
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: rgba(0,0,0,0.9);
}

.askUser h1{
  padding: 20px;
}

.askUser .col-6{
  text-align: center;
}

.askUser button {
  width: 100%;
  height: 100px;
  color: wheat;
  background-color: black;
  border: 1px solid wheat;
  border-radius: 0;
}

.askUser .btn-ask-score{
  height: 100px;
  font-size: 40px;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px black;
}

/* CSS du recap */

.recap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background-color: #000000;
  z-index: 2;
  display: none;
  opacity: 0;
  transition : all linear 0.1s;
}

.recap .container{
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.recap table{
  margin: 0 auto;
}

.recap tr, th {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid wheat;
}

.recap td {
  padding: 5px;
  font-size: 1.4rem;
}


.recap h2{
  padding-top: 20px;
  font-size: initial;
}

.recap button {
  width: 60px;
  background-color: wheat;
  box-shadow: 2px 2px 2px black;
}

/* CSS du temps Mort technique */
.accepterTpsMort {
  display: none;
  text-align: center;
}

.accepterTpsMort .btn {
  height: 100px;
  padding: 20px;
  margin-bottom: 20px;
}

.tempsMortTechnique {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000px;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.9);
  transition: all linear 0.3s;
}


.tempsMortTechnique .info{
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.tempsMortTechnique img{
  width: 80%;
  margin-top: 40px;
}

.tempsMortTechnique .btn-tpsMort {
  width: 100%;
  height: 120px;
  font-size: 40px;
  background-color: white;
  color: black;
}

.tempsMortTechnique .btn-tpsMort.btn-passer {
  font-size: 25px;
}

.tempsMortTechnique .btn-tpsMort.chrono {
  font-size: 60px;
  background-color:black;
  color: rgb(231, 114, 36);
  border: 2px solid white;
}

/* CSS de la fin du match */

.finMatch {
  display: none;
}

.finMatch .row {
  padding: 15px;
}

.finMatch h1 {
  text-align: center;
}

/* CSS de confMatch*/

.confMatch  {
  display: none;
}

.confMatch h1 {
  text-align: center;
  margin: 3px 0;
}

/* CSS du changement de position */
.chgtPosition {
  display: none;
}

.chgtPosition h1 {
  text-align: center;
  margin: 3px 0;
}


/* CSS alternatif */
.body-scores.alt {
  background-color: rgb(42, 34, 34);
}

.score .alt {
  color: #00bcdb;
  border-color: #00bcdb;
}

.equipe.alt input {
  color: #00bcdb;
  border-radius: 0;
  border: 1px solid #00bcdb;
  box-shadow: none;
  background-color: transparent;
}
