
/* CSS App scores */

/* jaune wolverines
background-color: rgb(255, 241, 43);
*/

/* --------------------  body --------------- */
.body-scores {
  font-family: 'Roboto Condensed', sans-serif;
  background-color:rgb(255, 255, 255);
  color: white;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.body-scores .row {
  margin: 0;
  padding-top: 6px;
}


.body-scores h1 {
  font-size: 2rem;
}

/* ---------------- appli ------------------- */
.appli {
  border: 2px solid black;
  box-shadow: 2px 2px 3px grey;
  background-image: url("images/arriere_plan.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --------------- header --------------------- */
.header {
  height: 70px;
  padding: 10px 0;
  background-color: white;
  text-align: center;
}

.header .btn{
  position: absolute;
  background-color: white;
  color:black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 0;
  height: 50px;
}

.header .btn.match {
  left: 15px;
}

.header .btn.set {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: auto;
}


.header .btn_inverser {
  right: 15px;
  background-image: url("images/btn_inverser.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  background-color: white;
  width: 100px;
}


/* --------------------------- main_content ---------------- */
.main_content {
  
  padding-top: 10px;
  padding-bottom: 30px;
  background: #222226;
  background-color: rgba(22,21,20,0.7); 
}



.round {
	position: absolute;
	top: 114px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.5);
	border: 2px solid white;
	font-size: 20px;
	font-weight: bold;
	color: rgb(255, 241, 43);
	width: 94px;
	vertical-align: initial;
	z-index: 2;
}

.round .contenu {
  position: relative;
  height: 140px;
}

.round .contenu h1 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 10px;
  font-size: 3rem;
  color: #d5da18;
  font-weight: bold;
  text-shadow: 0px 0px 3px #0c99bf;
}

.numeroRound {
  width: 100%;
  border: none;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;
  font-size: 3rem;
  color: #d5da18;
  font-weight: bold;
  text-shadow: 0px 0px 3px #0c99bf;
}


/****** ------------- scores ---------------- */

.scores {
  position: relative;
  height: 450px;
}

.scores-panneau {
  border: 1px solid white; 
}

.scores-panneau .container {
  margin-bottom: 15px;
}


.container_equipe {
  height: 70px;
  position: relative;
}

.equipe, .nom, .scoreSet {
  transition: all linear .5s;
}

.equipe {
  position: absolute;
  height: 70px;
  width: 84%;
  right: 16%;
}

.equipe.gauche {
  left: 0;
}

.equipe.droite {
  right: 0;
}

.equipe .contenu {
  position: static;
}


.equipe input{
  
  text-align: center;  
  height: 60px;
  border-radius: 0;
  border: none;
}

.equipe .nom {
	position: absolute;
	left: 0;
	height: 60px;
  bottom: 3px;
  width: 100%;
  border: 2px solid black;
}

.equipe .nom.gauche {
  left: -73px;
}

.equipe .nom.droite {
  left: 73px;
}

.equipe .scoreSet {
	font-size: 3rem;
	font-family: 'Teko', sans-serif;
	width: 27%;
	text-shadow: 2px 2px 2px rgb(140, 151, 160);
	position: absolute;
  border: 2px solid black;
  bottom: 0;
  right: 0;
	height: 70px;
}

.equipe .scoreSet.droite {
  right: 73%;
}


.temps-mort div {
  display: inline-block;
  width: 50%;
  padding: 3px;
}

.temps-mort button {
  opacity: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  font-size: 12px;
  border-radius: 0;
  background-color:  rgb(255, 241, 43);
}

.equipe-gauche, .equipe-droite {
  position: absolute;
  width: 50%;
  left: 0;
}


/* --------------- score ----------------- */
.score {
  height: 70px;
  width: 50%;
  text-align: center;
}

.row_btn-score {
  position: absolute;
  left: 0;    
  width: 84%;
  transition: all linear 0.5s;
}

.row_btn-score.droite {
  left: 16%;
}

.score .btn-score{
  width: 95%;
  height: 100%;
  border-radius: 0;
  border: 2px solid white;
  background-color: transparent;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.container_btn {
  position: relative;
  height: 70px;
  height: 80px;
  margin-bottom: 10px;
}

.score .btn_plus {
  font-size: 3rem;
  line-height: 0;
  color: #19bbe4;
  border-color: #19bbe4; 
}

.score .btn_moins {
    font-size: 3rem;
    line-height: 0;
    color: #ef8e12;
    border-color: #ef8e12;
}

.score .btn_plus:after {
  content: '+';
}

.score .btn_moins:after {
  content: '-';
}

/* ------------------------ unScore ------------------ */
.unScore {
  text-align: center;
  font-family: 'Teko', sans-serif;
  text-shadow: 3px 3px 3px rgb(140, 151, 160);
  margin: 0 auto;
  width: 98%;
  height: 200px;
  font-size: 150px;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 0;
  border: none;
}


.equipe-droite.droite{
  left: 50%;
}

.equipe-gauche.droite{
  left: 50%;
}

.anime {
  transition: all 1s cubic-bezier(.64,.2,.3,.94);
}

.nomEquipe {
  padding: 5px;
  border: 1px solid white;
}


.set {
  color: white;
  width: 100%;
  border-radius: 0;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}


/* CSS des affichages entre 2 sets */

.askUser{
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: rgba(0,0,0,0.9);
}

.askUser h1{
  padding: 20px;
}

.askUser .col-6{
  text-align: center;
}

.askUser button {
  width: 100%;
  height: 100px;
  color: wheat;
  background-color: black;
  border: 1px solid wheat;
  border-radius: 0;
}

.askUser .btn-ask-score{
  height: 100px;
  font-size: 40px;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px black;
}

/* CSS du recap */
.recap {
  padding: 20px 0;
}

.recap .container{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.recap .contenu {
  border: 2px solid white;
  border-radius: 10px;
  padding: 30px 0;
  background: rgba(0,0,0,0.7);
}

.recap table{
  margin: 0 auto;
}

.recap tr, th {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid wheat;
  width: 70px;
}

.recap tr:last-child {
  border-bottom: none;
}

.recap input {
  width: 175px;
  height: 40px;
  border: none;
  border-radius: 0;
  box-shadow: 0;
  text-align: center;
  background: transparent;
  color: white;
}

.recap td{
  padding: 10px;
}


.recap h2{
  padding-top: 20px;
  font-size: initial;
}

.recap button {
  width: 60px;
  background-color: wheat;
  box-shadow: 2px 2px 2px black;
}

/* CSS du temps Mort technique */
.tempsMortTechnique {
  z-index: 3;
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.9);
  transition: all linear 0.3s;
}

.tempsMortTechnique .contenu {
  padding-top: 60px;
}

.tempsMortTechnique .info{
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.tempsMortTechnique img{
  width: 80%;
  margin-top: 40px;
}

.tempsMortTechnique .btn-tpsMort {
  width: 100%;
  height: 150px;
  font-size: 40px;
  background-color: white;
  color: black;
}

.tempsMortTechnique .btn-tpsMort.btn-passer {
  font-size: 25px;
}

.tempsMortTechnique .btn-tpsMort.chrono {
  font-size: 60px;
  background-color:black;
  color: rgb(231, 114, 36);
  border: 2px solid white;
}

/* CSS de la fin du match */

.finMatch {
  display: none;
  z-index: 3;
}

.finMatch .row {
  padding: 15px;
}

.finMatch h1 {
  text-align: center;
}

/* CSS de confMatch*/

.confMatch  {
  display: none;
}

.confMatch h1 {
  text-align: center;
  margin: 3px 0;
}


/* CSS alternatif */
.body-scores.alt {
  background-color: rgb(42, 34, 34);
}

.score .alt {
  color: #00bcdb;
  border-color: #00bcdb;
}

.equipe.alt input {
  color: #00bcdb;
  border-radius: 0;
  border: 1px solid #00bcdb;
  box-shadow: none;
  background-color: transparent;
}
